<!DOCTYPE html>
<!--[if IE 9]> <html lang="en" class="ie9"> <![endif]-->
<!--[if !IE]><!-->
<html lang="en">
<!--<![endif]-->

<head>
  <meta charset="utf-8" />
  <title>ASC | Audit Smart Contract</title>
  <meta name="description" content="Worthy a Bootstrap-based, Responsive HTML5 Template" />
  <meta name="author" content="htmlcoder.me" />

  <!-- Mobile Meta -->
  <meta name="viewport" content="width=device-width, initial-scale=1.0" />

  <!-- Favicon -->
  <link rel="shortcut icon" href="img/favicon.ico" />

  <!-- Web Fonts -->
  <link
    href="http://fonts.googleapis.com/css?family=Open+Sans:400italic,700italic,400,700,300&amp;subset=latin,latin-ext"
    rel="stylesheet" type="text/css" />
  <link href="http://fonts.googleapis.com/css?family=Raleway:700,400,300" rel="stylesheet" type="text/css" />

  <!-- Bootstrap core CSS -->
  <link href="assets/bootstrap/css/bootstrap.css" rel="stylesheet" />

  <!-- Plugins -->
  <link href="assets/css/animations.css" rel="stylesheet" />

  <!-- Worthy core CSS file -->
  <link href="assets/css/style.css" rel="stylesheet" />

  <!-- Custom css -->
  <link href="assets/css/custom.css" rel="stylesheet" />
</head>

<body class="no-trans">
   

  <!-- scrollToTop -->
  <!-- ================ -->
  <div class="scrollToTop"><i class="icon-up-open-big"></i></div>

  <!-- header start -->
  <!-- ================ -->
  <header class="header fixed clearfix navbar navbar-fixed-top">
    <div class="container">
      <div class="row">
        <div class="col-md-5">
          <!-- header-left start -->
          <!-- ================ -->
          <div class="header-left clearfix">
            <!-- logo -->
            <div class="logo smooth-scroll">
              <a href="#banner"><img id="logo" src="images/homevntlogo.png" alt="Worthy" height="70" width="70" /></a>
            </div>

            <!-- name-and-slogan -->
            <div class="site-name-and-slogan smooth-scroll">
              <div class="site-name" style="color:rgb(86, 179, 251)">
                Audit Smart Contract
              </div>

              <div class="site-slogan">
                provided by SRTP in ZJU
              </div>
            </div>
          </div>
          <!-- header-left end -->
        </div>
        <div class="col-md-7">
          <!-- header-right start -->
          <!-- ================ -->
          <div class="header-right clearfix">
            <!-- main-navigation start -->
            <!-- ================ -->
            <div class="main-navigation animated">
              <!-- navbar start -->
              <!-- ================ -->
              <nav class="navbar navbar-default" role="navigation">
                <div class="container-fluid">
                  <!-- Toggle get grouped for better mobile display -->
                  <div class="navbar-header">
                    <button type="button" class="navbar-toggle" data-toggle="collapse" data-target="#navbar-collapse-1">
                      <span class="sr-only">Toggle navigation</span>
                      <span class="icon-bar"></span>
                      <span class="icon-bar"></span>
                      <span class="icon-bar"></span>
                    </button>
                  </div>

                  <!-- Collect the nav links, forms, and other content for toggling -->
                  <div class="collapse navbar-collapse scrollspy smooth-scroll" id="navbar-collapse-1">
                    <ul class="nav navbar-nav navbar-right">
                      <li class="active"><a href="#banner">Home</a></li>
                      <li><a href="#portfolio">Login</a></li>
                      <li><a href="#contact">Contact</a></li>
                    </ul>
                  </div>
                </div>
              </nav>
              <!-- navbar end -->
            </div>
            <!-- main-navigation end -->
          </div>
          <!-- header-right end -->
        </div>
      </div>
    </div>
  </header>
  <!-- header end -->

  <!-- banner start -->
  <!-- ================ -->
  <div id="banner" class="banner">
    <div class="banner-image"></div>
    <div class="banner-caption">
      <div class="container">
        <div class="row">
          <div class="col-md-8 col-md-offset-2 object-non-visible" data-animation-effect="fadeIn">
            <!--<h1 class="text-center">We are <span>Worthy</span></h1>-->
            <h1 class="text-center" style="color:rgb(86, 179, 251)">Audit Smart Contract</h1>
            <p class="lead text-center">The smart contract audit platform is an smart contract submission, audit and report generation system based on VNT chain. The system simulates an actual scenario of an smart contract auditing company. </p>
          </div>
        </div>
      </div>
    </div>
  </div>
  <!-- banner end -->

  <!-- section start -->
  <!-- ================ -->
  <div class="default-bg space blue">
    <div class="container">
      <div class="row">
        <div class="col-md-8 col-md-offset-2">
          <h1 class="text-center">Let's Work Together!</h1>
        </div>
      </div>
    </div>
  </div>
  <!-- section end -->

  <!-- section start -->
  <!-- ================ -->
  <div class="section">
    <div class="container">
      <h1 class="text-center title" id="portfolio">Login</h1>
      <div class="separator"></div>
      <p class="lead text-center">
        Please make sure your wallet is logged in.<br />
        Use google plug-in VNTwallet.
      </p>
      <br />
      <div class="row object-non-visible" data-animation-effect="fadeIn">
        <div class="col-md-12">
          <!-- portfolio items start -->
          <div class="isotope-container row grid-space-20">
            <div class="col-sm-6 col-md-6 isotope-item">
              <ul class="nav">
                <div class="image-box">
                  <!-- <a id="btn-user" href="/profileuser" class="btn btn-default btn-block" 
                      >Usr Login</a
					> -->
                  <a id="btn-user" class="btn btn-default btn-block">User Login</a>
                </div>
              </ul>
            </div>

            <div class="col-sm-6 col-md-6 isotope-item">
              <div class="image-box">
                <a id="btn-auditor" class="btn btn-default btn-block">Auditor Login</a>
              </div>
            </div>
          </div>
          <!-- portfolio items end -->
        </div>
      </div>
    </div>
  </div>
  <!-- section end -->

  <!-- footer start -->
  <!-- ================ -->
  <footer id="footer">
    <!-- .footer start -->
    <!-- ================ -->
    <div class="footer section">
      <div class="container">
        <h1 class="title text-center" id="contact">Contact Us </h1>
        <div class="space"></div>
        <div class="row">
          <div class="col-sm-6">
            <div class="footer-content">
              <p class="large">
                This is our team's first VNT project. There may be many problems and shortcomings. If you find some problems or would like to make some suggestions, we are always welcome. Please contact us through the following channels.  
              </p>
              <ul class="list-icons">
                <li><i class="fa fa-fax pr-10"></i>Mr Liu:&nbsp&nbsp&nbsp&nbsp+86 18888921663&nbsp&nbsp&nbsp&nbsp3170104593@zju.edn.cn</li>
                <li><i class="fa fa-fax pr-10"></i>Mr Jin:&nbsp&nbsp&nbsp&nbsp+86 13567751685&nbsp&nbsp&nbsp&nbsp3170103634@zju.edn.cn</li>
                <li><i class="fa fa-fax pr-10"></i>Miss Zhang:&nbsp&nbsp&nbsp&nbsp+86 18888922655&nbsp&nbsp&nbsp&nbsp3170102582@zju.edn.cn</li>
              </ul>
              <ul class="social-links">
                <li class="facebook">
                  <a target="_blank" href="https://www.facebook.com/pages/HtmlCoder/714570988650168"><i
                      class="fa fa-facebook"></i></a>
                </li>
                <li class="twitter">
                  <a target="_blank" href="https://twitter.com/HtmlcoderMe"><i class="fa fa-twitter"></i></a>
                </li>
                <li class="googleplus">
                  <a target="_blank" href="http://plus.google.com"><i class="fa fa-google-plus"></i></a>
                </li>
                <li class="skype">
                  <a target="_blank" href="http://www.skype.com"><i class="fa fa-skype"></i></a>
                </li>
                <li class="linkedin">
                  <a target="_blank" href="http://www.linkedin.com"><i class="fa fa-linkedin"></i></a>
                </li>
                <li class="youtube">
                  <a target="_blank" href="http://www.youtube.com"><i class="fa fa-youtube"></i></a>
                </li>
                <li class="flickr">
                  <a target="_blank" href="http://www.flickr.com"><i class="fa fa-flickr"></i></a>
                </li>
                <li class="pinterest">
                  <a target="_blank" href="http://www.pinterest.com"><i class="fa fa-pinterest"></i></a>
                </li>
              </ul>
            </div>
          </div>
          <div class="col-sm-6">
            <div class="footer-content">
              <form role="form" id="footer-form">
                <div class="form-group has-feedback">
                  <label class="sr-only" for="name2">Name</label>
                  <input type="text" class="form-control" id="name2" placeholder="Name" name="name2" required />
                  <i class="fa fa-user form-control-feedback"></i>
                </div>
                <div class="form-group has-feedback">
                  <label class="sr-only" for="email2">Email address</label>
                  <input type="email" class="form-control" id="email2" placeholder="Enter email" name="email2"
                    required />
                  <i class="fa fa-envelope form-control-feedback"></i>
                </div>
                <div class="form-group has-feedback">
                  <label class="sr-only" for="message2">Message</label>
                  <textarea class="form-control" rows="8" id="message2" placeholder="Message" name="message2"
                    required></textarea>
                  <i class="fa fa-pencil form-control-feedback"></i>
                </div>
                <input type="submit" value="submit" class="btn btn-default" />
              </form>
            </div>
          </div>
        </div>
      </div>
    </div>
    <!-- .footer end -->

    <!-- .subfooter start -->
    <!-- ================ -->
    <div class="subfooter">
      <div class="container">
        <div class="row">
          <div class="col-md-12">
            <p class="text-center">
              Copyright Â© 2019 Worthy by SRTP in ZJU.
            </p>
          </div>
        </div>
      </div>
    </div>
    <!-- .subfooter end -->
  </footer>
  <!-- footer end -->

  <!-- JavaScript files placed at the end of the document so the pages load faster
		================================================== -->
  <!-- Jquery and Bootstap core js files -->
  <script type="text/javascript" src="assets/plugins/jquery.min.js"></script>
  <script type="text/javascript" src="assets/bootstrap/js/bootstrap.min.js"></script>

  <!-- Modernizr javascript -->
  <script type="text/javascript" src="assets/plugins/modernizr.js"></script>

  <!-- Isotope javascript -->
  <script type="text/javascript" src="assets/plugins/isotope/isotope.pkgd.min.js"></script>

  <!-- Backstretch javascript -->
  <script type="text/javascript" src="assets/plugins/jquery.backstretch.min.js"></script>

  <!-- Appear javascript -->
  <script type="text/javascript" src="assets/plugins/jquery.appear.js"></script>

  <!-- Initialization of Plugins -->
  <script type="text/javascript" src="assets/js/template.js"></script>

  <!-- Custom Scripts -->
  <script type="text/javascript" src="assets/js/custom.js"></script>
  
  <!-- END PAGE LEVEL JS-->
  <script type="text/javascript">

   //var flag;
    //src="accountModel.js
    /*const pool = require("/models/conn_pool");
    const utils = require("../models/utils");
    const function_js = require("../models/accountModel");*/
    $("#btn-user").click(function() {
      if (typeof window.vnt != "undefined") {
        // chrome extension installed
        var err;
        var result;
        window.vnt.getNetworkUrl(function (err, result) { });
        if (err != null) {
          alert("network listen failed!");
        }
        window.vnt.requestAuthorization(function (err, authorized) {
          if (authorized == true) {
            
            window.vnt.core.getCoinbase(function (err, result) {
              if (err) {
                alert("Cannot obtain your address!");
                window.location.href = "/index";
              }
              else {
                var address = result
                console.log(address);
                $.ajax({
                  data: {
                    address: address,
                  },
                  url: "/index",
                  type: "POST", 
                  async: true,
                  success: function(data)
                  {
                    console.log("data"+data);
                    flag=data.flag;
                    console.log("flag"+flag);
                    
                    console.log("ejs.flag");
                console.log(flag);
                
                if (flag == 0)
                  {
                    console.log(0);
                    window.location.href = "/profileuser";
                    
                  }
                else if(flag==1){
                  console.log(1);
                  alert("You are a Auditor!");
                  window.location.href = "/index";
                }
                  },
                  error: function(err) {
              alert("请求失败!");}
                  
                });
                //flag=document.getElementById("flag").innerHTML;
              }

            });
          }
          else {
            alert("Reject!");
          }
        })
      }
      else {
        // chrome extension not installed
        // Dapp UI render or Dapp related logic
        alert("Please install the entension first!");
        window.location.href = "/index";
      }
    });

    $("#btn-auditor").click(function () {
      var authorized;
      if (typeof window.vnt != "undefined") {
        // chrome extension installed
        var err;
        var result;
        window.vnt.getNetworkUrl(function (err, result) { });
        if (err != null) {
          alert("network listen failed!");
        }
        window.vnt.requestAuthorization(function (err, authorized) {
          if (authorized == true) {
            
            window.vnt.core.getCoinbase(function (err, result) {
              if (err) {
                alert("Cannot obtain your address!");
                window.location.href = "/index";
              }
              else {
                var address = result
                console.log(address);
                $.ajax({
                  
                  data: {
                    address: address,
                  },
                  url: "/index",
                  type: "POST", 
                  async: true,
                  success: function(data)
                  {
                    console.log("data"+data);
                    flag=data.flag;
                    console.log("flag"+flag);
                    
                    console.log("ejs.flag");
                console.log(flag);
                
                if (flag == 0)
                  {
                    console.log(0);
                    alert("You are an user!");
                    window.location.href = "/index";
                  }
                else if(flag==1){
                  console.log(1);
                  window.location.href = "/profileauditor";
                }
                  },
                  error: function(err) {
              alert("请求失败!");}
                  
                });
                //flag=document.getElementById("flag").innerHTML;
                

              }

            });
          }
          else {
            alert("Reject!");
          }
        })
      }
      else {
        // chrome extension not installed
        // Dapp UI render or Dapp related logic
        alert("Please install the entension first!");
        window.location.href = "/index";
      }
    });
      /*address = document.getElementById("address").innerHTML;
//function_js.isaccount(error,flag);
//console.log(flag);
console.log(address);
$.ajax({
dataType: "JSON",
data: {
address: address
},
url: "",
type: "POST",
async: true,
});
});*/
  </script>
</body>

</html>